/* For the universal selector, stylise all the elements */

* {
    border: 1px solid black;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* Stylise the class selector */

.container {
    width: 500px;
    margin: 30px auto;
    height: 715px;
}

/* Stylise the class selector */

.card {
    margin: 50px;
    height: 615px;
    width: 400px;
    padding: 25px 25px 50px;
}

/* Add CSS rule to type selector */

img {
    width: 350px;
    height: 200px;
}

/* Add CSS rule to class selector */

/* Add CSS rule to type selector */

/* Add CSS rule to class selector */

.click-here {
    margin: 10px auto;
    height: 50px;
    width: 200px;
}

/* Add CSS rule to type selector */


